@import "styles/colors.scss";
@import "styles/mixins/breakpoints.scss";

.imgWrapper {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  height: 180px;

  @include breakpoint(s) {
    height: 280px;
  }

  @include breakpoint(m) {
    height: 340px;
  }
}

.img {
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease;
  width: 100%;

  &.selected {
    opacity: 1;
  }
}

.img img {
  width: 100%;
}
