@import "styles/mixins/breakpoints.scss";

.content {
  padding-top: 70px;

  @include breakpoint(m) {
    padding-top: 90px;
  }
}

.withSubNav {
  padding-top: 120px;

  @include breakpoint(m) {
    padding-top: 140px;
  }
}
