@import "styles/colors.scss";

.link {
  &:hover {
    color: color(primary);
    cursor: pointer;
  }
}

.disabled {
  &,
  &:hover,
  &:active {
    cursor: not-allowed;
    color: color(text-disabled);
  }
}
