.imgWrapper {
  width: 100%;
  height: 100vh;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Stuga_pa_landet_vid_Skanes_Varsjo.jpg/1200px-Stuga_pa_landet_vid_Skanes_Varsjo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
