@import "styles/colors.scss";
@import "styles/z-index.scss";
@import "styles/mixins/box-shadow.scss";
@import "styles/mixins/breakpoints.scss";

$padding: 16px;
$width: 400px;

.dialog {
  position: fixed;
  z-index: z-index(modal);
  background: color(white);
  min-height: 200px;
  padding: 16px;
  border-radius: 4px;
  @include box-shadow(s);
  
  margin-top: 80px;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(100% - 48px);

  @include breakpoint(s) {
    top: 50%;
    margin-top: -200px;
    margin-right: 0;
    margin-left: -($width + $padding) / 2;
    width: 400px;
    left: 50%;
  }
}

.backdrop {
  position: fixed;
  z-index: z-index(modal);
  background: color(blackdrop);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  position: absolute;
  right: 16px;
  cursor: pointer;
}
